.AiSearch form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.AiInput {
    width: 35%;
    padding: 15px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border: none;
    outline: none;
    font-family: Poppins;
    font-size: 16px;
}

.AiBtn {
    padding: 15px;
    width: 210px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.aiInputAndBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.childInputBtn{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aiHeadding {
    color: #fff;
    margin-bottom: 35px;
}

@media(max-width:1024px){
    
    .aiHeadding {
       font-size: 25px;
       margin-bottom: 30px;
    }

    .AiInput{
        width: 55%;
        font-size: 15px;
        padding: 11px;
    }

    .AiBtn {
        width: 25%;
        font-size: 15px;
        padding: 12px;
    }
    
}

@media(max-width:800px){
    
    .aiHeadding {
       font-size: 25px;
       margin-bottom: 30px;
    }

    .AiInput{
        font-size: 10px;
        padding: 10px;
    }

    .AiBtn {
        width: 25%;
        font-size: 12px;
        padding: 10px;
    }
    
}
@media(max-width:500px){
    
    .aiHeadding {
       font-size: 20px;
       margin-bottom: 25px;
    }

    .AiInput{
        width: 60%;
        font-size: 8px;
        padding: 8px;
    }

    .AiBtn {
        font-size: 8px;
        padding: 8px;
    }
    
}