.suggestionParent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aiSuggestion {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 25px;
    row-gap: 60px;
    margin-bottom: 50px;
}

.removeAiBtn{
    width: 260px;
    /* display: none; */
}

@media(max-width:1280px){
    .aiSuggestion{
        grid-template-columns: repeat(4, 0.8fr);
    }
}
@media(max-width:1024px){
    .aiSuggestion{
        grid-template-columns: repeat(3, 0.5fr);
    }
}
@media(max-width:800px){
    .aiSuggestion{
        grid-template-columns: repeat(2, 0.5fr);
    }
}
@media(max-width:500px){
    .aiSuggestion{
        grid-template-columns: repeat(1, 0.5fr);
    }
}
