.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
  align-items: center;
}

.logoimg {
  height: 70px;
}

.logoContainer p {
  color: #171717;
  font-size: 35px;
  font-weight: 600;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
}

.nav-menu li {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav-menu li span:hover {
  color: #20bdff;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-login-cart img {
  cursor: pointer;
}

.nav-login-cart button {
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #d519ff;
  font-size: 20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}

.nav-login-cart button:hover {
  color: #20bdff;
}

.nav-login-cart img:hover {
  transform: scale(1.05);
  transition: 0.6s;
}

.nav-login-cart button:active {
  background: #f3f3f3;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border: 10px;
  background-color: #d519ff;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -39px;
  margin-left: -32px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}

.nav-dropDown {
  display: none;
}

@media(max-width:1280px) {
  .navbar {
    padding: 12px 50px;
  }

  .logoimg {
    width: 50px;
  }

  .logoContainer p {
    font-size: 25px;
  }

  .nav-menu {
    gap: 30px;
    font-size: 16px;
  }

  .nav-login-cart {
    gap: 30px;
  }

  .nav-login-cart button {
    width: 120px;
    height: 45px;
    font-size: 16px;
  }

  .nav-cart-count {
    margin-left: -40px;
    font-size: 12px;
  }

}

@media(max-width:1024px) {
  .navbar {
    padding: 12px 30px;
  }

  .nav-menu {
    gap: 25px;
    font-size: 14px;
  }

  .nav-login-cart button {
    width: 80px;
    height: 35px;
    font-size: 13px;
  }

  .nav-login-cart img {
    width: 30px;
  }

  .nav-cart-count {
    width: 18px;
    height: 18pxpx;
  }
}

@media(max-width:800px) {
  .navbar {
    padding: 10px 0px;
  }

  .nav-dropDown {
    display: block;
    rotate: -90deg;
    transition: 0.5s;
    border: 1px solid black;
    border-radius: 100px;
    padding: 10px;
  }

  .nav-menu {
    display: none;
    height: 45px;
    width: 100%;
    position: absolute;
    background-color: white;
    justify-content: center;
    top: 69px;
  }

  .nav-menu-visible {
    display: flex;
  }
  .nav-dropDown.open{
    transform: rotate(90deg);
    cursor: pointer;
  }
}

@media(max-width:500px){
  .navbar{
    width: 8px 0px;
    gap: 0;
  }
  .logoimg{
    transform: scale(0.8);
  }
  .nav-menu{
    height: 50px;
    top: 66px;
  }
  .nav-login-cart{
    transform: scale(0.8);
  }
}